---
---

h1(id="page-title") #{ title }
div(class="text-right") Last updated: #{ updated }
ul
    each x in pages
        li
            a(href=`${ x.url }`) #{ x.title },
            span Last updated: #{ x.url }